---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <img src="favicon.svg" alt="Newport Mansions SmartBOT">
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Newport Mansions</span>
    <span class="gpt-subtitle">SmartBOT</span>
  </div>
  <p mt-1 op-60>Powered by OpenAI. Built by Action Tour Guide.</p>
</header>
